<!DOCTYPE html>
<html>
<head>
	<title><%= title %> - Setting Confirm</title>
</head>
<body>
	<h3>Please confirm your device [ <%= title %> ]</h3>
	<table>
		<% for(var i in data){ %>
		<tr>
			<td><%= i %> :</td>
			<td><%= data[i] %></td>
		</tr>
		<% } %>
		<tr>
          <td align="left">----------------</td>
          <td align="right">---------------------</td>
        </tr>
		<tr>
			<td align="left">
			<button type="button" onclick="location.href='./'">Return to Index</button>
			</td>
			<td align="right">
				<form method="GET" action="/to_edit_db">
				<input type="hidden" name="title" value="Initiating DataBase"/>
				<input type="hidden" name="title_next" value="Edit DataBase"/>
				<input type="hidden" name="jump_time" value="1000"/>
				<input type="hidden" name="href" value="./set_db"/>
				<input type="hidden" name="msg" value="Initiating DataBase..."/>
				<input type="submit" value="Edit DataBase" <%= disable %> />
				</form>
			</td>
		</tr>
	</table>
	
</body>
</html>